/* InterestCard.module.css */
.component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 2.58rem;
  padding: 0.5rem 1rem;
  color: var(--gray-600);
  border-radius: 0.5rem;
  background-color: var(--gray-100);
  cursor: pointer;
  .icon {
    padding: 0.125rem;
    font-size: 1rem;
    color: var(--white);
    border-radius: 1.125rem;
    background-color: var(--gray-200);
  }
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.componentActive {
  color: var(--white);
  background-color: var(--primary);

  .icon {
    color: var(--primary);
    border-radius: 1.125rem;
    background-color: var(--white);
  }
}
