.login {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;

  header {
    padding: 1.5rem 0;
  }
}

.body {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.error {
  color: var(--negative);
}
