@import '@/styles/media.css';

.dateSelector {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
}

.iconFilled {
  color: var(--primary);
}

.calendarWrapper {
  position: absolute;
  top: 100%;
  transform: translateX(-100%);
  z-index: 1;
}
