.Badge {
  padding: 0.25rem 0.375rem;
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
  color: var(--white);
  border-radius: 0.25rem;
  background-color: var(--badge-background-color, --primary);
}
