.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  color: var(--btn-txt-dark);
  border: 1px solid var(--btn-bd);
  background-color: var(--btn-bg);
  cursor: pointer;

  &:focus {
    outline-offset: 2px;
    outline: 2px solid var(--secondary);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: auto;
  }
  &.black {
    color: var(--btn-txt);
    border-color: var(--btn-bd-dark);
    background: var(--btn-bg-dark);
  }

  &.primary {
    color: var(--btn-txt);
    border-color: var(--btn-bg-primary);
    background: var(--btn-bg-primary);
  }

  &.white {
    &:disabled {
      color: var(--gray-500);
    }
  }

  &.negative {
    border-color: var(--btn-bg-negative);
    background: var(--btn-bg-negative);
    &:focus {
      outline-color: var(--btn-bg-negative);
    }
  }

  &.transparent {
    background-color: transparent;
  }
}

[data-theme='dark'] {
  --btn-bg: var(--gray-900);
  --btn-bg-dark: var(--primary);
  --btn-bg-primary: var(--primary);

  --btn-txt: var(--white);
  --btn-txt-dark: var(--gray-100);

  --btn-bd: var(--gray-700);
  --btn-bd-dark: var(--gray-800);
}
