.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--white);
  cursor: pointer;
}
.button:focus {
  outline-offset: 1px;
  outline: 2px solid var(--secondary);
}

.button:disabled {
  color: var(--gray-300);
  cursor: auto;
}

.black {
  background: var(--gray-900);
}
.primary {
  background: var(--primary);
}
.white {
  background: var(--white);
  color: var(--gray-900);
  border: 1px solid var(--gray-900);
}
