.checkedIcon {
  display: flex;
  span {
    color: var(--primary);
    font-size: 12px;
    font-weight: bolder;
  }
}
.checked {
  display: flex;
  width: 1.125rem;
  height: 1.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5rem;
  background: var(--white);
}
.unChecked {
  display: flex;
  width: 1.125rem;
  height: 1.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5rem;
  background: var(--gray-200);
}
.unCheckedIcon {
  display: flex;
  span {
    color: var(--white);
    font-size: 15px;
    font-weight: bolder;
  }
}
