.party_category {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem;

  li {
    flex: 1;
  }

  .icon_circle {
    width: 3rem;
    inline-size: 3rem;
    height: 3rem;
    block-size: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
    border-radius: 3rem;
    border: 2px solid #eef1f8;
    background-color: #eef1f8;
  }
}

.button {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: var(--gray-900);
  border: none;
  background-color: transparent;
  &.active {
    .icon_circle {
      border: 2px solid var(--primary);
      background-color: var(--white);
    }
    span {
      color: var(--primary);
    }
  }
  &:focus {
    outline-color: var(--secondary);
  }
}

[data-theme='dark'] {
  .party_category {
    .icon_circle {
      border-color: var(--gray-800);
      background-color: var(--gray-800);
    }
  }

  .button {
    color: var(--gray-200);
    background-color: transparent;
    &.active {
      .icon_circle {
        border-color: var(--secondary);
      }
      span {
        color: var(--secondary);
      }
    }
    &:focus {
      outline-color: var(--secondary);
    }
  }
}
