.component {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}
.wrapper {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 1px solid var(--white);
  background: #f6f8fb;
  border-radius: 0.25rem;
}
.agreeWrapper {
  display: flex;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.agree {
  border: none;
  outline: none;
  color: var(--primary);
  background-color: inherit;
  cursor: pointer;
}
.disagree {
  border: none;
  outline: none;
  color: var(--negative, #ff4500);
  background-color: inherit;
  cursor: pointer;
}

.iconwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.iconwrapper > span {
  color: var(--primary);
}
