.chat {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;

  ul {
    display: flex;
    flex-flow: column nowrap;
    li {
      border-bottom: 1px solid var(--gray-100);
    }
  }
}

[data-theme='dark'] {
  .chat {
    ul {
      li {
        border-bottom: 1px solid var(--gray-800);
      }
    }
  }
}
