.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background: var(--white);
}

.component {
  color: blue;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;

  p {
    color: var(--gray-600);
  }
}
