.component {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0.4375rem 1rem; /* align-items: center; */
  align-items: center;
  gap: 0.625rem;
}
.othercomponent {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0.4375rem 1rem; /* align-items: center; */
  align-items: center;
  gap: 0.625rem;
}

.component > div {
  border-radius: 2.25rem;
  background: var(--secondary);
  color: var(--white);
  padding: 0.4375rem 1rem;
}
.othercomponent > div {
  border-radius: 2.25rem;
  background: var(--secondary);
  color: var(--white);
  padding: 0.4375rem 1rem;
}
