.component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;

  .time {
    color: var(--gray-600);
    background-color: transparent;
  }

  .bubble {
    margin-right: 1rem;
    padding: 0.25rem 1rem;
    color: var(--white);
    border-radius: 3rem;
    background-color: var(--secondary);
  }
}

.other {
  justify-content: flex-start;
  .bubble {
    margin-left: 1rem;
    color: var(--gray-900);
    background-color: var(--gray-100);
  }
}

[data-theme='dark'] {
  .component {
    .time {
      color: var(--gray-400);
    }

    .bubble {
      background-color: var(--primary);
    }
  }

  .other {
    .bubble {
      color: var(--gray-100);
      background-color: var(--gray-800);
    }
  }
}
