.component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    display: flex;
    flex-flow: row nowrap;
    color: var(--gray-900);
    span {
      padding-left: 0.5rem;
      padding-inline-start: 0.5rem;
      color: var(--primary);
    }
  }
}

[data-theme='dark'] {
  .component {
    h3 {
      color: var(--gray-100);
      span {
        color: var(--secondary);
      }
    }
  }
}
