.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.contHeader {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  h4 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--gray-900);
  }
}

.guidance {
  color: var(--gray-600);
}

.optionList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.optionBtn {
  padding: 0.3125rem 0.75rem;
  color: var(--gray-900);
  border-radius: 3rem;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  cursor: pointer;

  &:hover {
    color: var(--gray-900);
    outline: 2px solid var(--gray-800);
    outline-offset: -2px;
  }
  &:focus {
    outline-color: var(--secondary);
  }

  &.selected {
    color: var(--white);
    border-color: var(--gray-900);
    background-color: var(--gray-900);
    &:hover {
      color: var(--white);
      border-color: var(--gray-900);
      background-color: var(--gray-900);
    }
  }
}

[data-theme='dark'] {
  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  .contHeader {
    h4 {
      color: var(--gray-100);
    }
  }

  .guidance {
    color: var(--gray-600);
  }

  .optionBtn {
    color: var(--gray-100);
    border: 1px solid var(--gray-800);
    background-color: var(--gray-800);

    &:hover {
      outline: 2px solid var(--gray-600);
      background-color: var(--gray-600);
    }
    &:focus {
      outline-color: var(--secondary);
    }

    &.selected {
      color: var(--white);
      border-color: var(--primary);
      background-color: var(--primary);
      &:hover {
        color: var(--white);
        border-color: var(--primary);
        background-color: var(--primary);
      }
    }
  }
}
