.profile {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow: auto;

  & > div {
    padding: 2rem 0 1rem;
    padding-block-start: 2rem;
    padding-block-end: 1rem;
  }
}

.myMenu {
  display: flex;
  flex-flow: row nowrap;
  li {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    color: var(--gray-900);
    cursor: pointer;
    span {
      color: var(--gray-700);
    }
    &:focus {
      outline-offset: -2px;
      outline-color: var(--secondary);
    }
    &:hover {
      color: var(--primary);
      span {
        color: var(--primary);
      }
    }
  }
}

.settingMenu {
  display: flex;
  flex-flow: column nowrap;
  li {
    padding: 0.75rem 1rem;
    color: var(--gray-900);
    /* color: var(--text-color); */
    border-bottom: 1px solid var(--gray-100);
    cursor: pointer;
    &:focus {
      outline-offset: -2px;
      outline-color: var(--secondary);
    }
    &:hover {
      color: var(--primary);
    }
  }
}

/* 나의 프로필 */
.profileView {
  gap: 0;
}

.viewTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  color: var(--gray-900);
  border-bottom: 1px solid var(--gray-100);

  button {
    flex: 0;
    padding: 0.5rem;
    letter-spacing: var(--ls);
    line-height: var(--lh-hdg);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    font-family: var(--base-font);
  }
}

.myInfo {
  display: flex;
  flex-flow: column nowrap;
  li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--gray-900);
    border-bottom: 1px solid var(--gray-100);
    .val {
      color: var(--primary);
    }
  }
}

/* 프로필 수정 */
.profileEdit {
  & > ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 0.06rem solid var(--gray-100);

    li {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
    }
  }

  & > div {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    padding: 0 1rem;
  }
}

.SignUpList {
  padding: 0 1rem 0 1rem !important;
}

.logout:hover {
  cursor: pointer;
}

.reset {
  justify-content: center;
  margin-bottom: 1rem;
  margin-block-end: 1rem;
}

.resetBtn {
  padding: 0.5rem 1rem;
  color: var(--gray-600);
  border: none;
  background-color: transparent;
  &:focus {
    outline-color: var(--secondary);
  }
}

.interestList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
  list-style-type: none;
}

.interestItem {
  padding: 0.25rem 0.5rem;
  color: var(--gray-900);
  border-radius: 1rem;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
}

[data-theme='dark'] {
  .myMenu {
    li {
      color: var(--gray-100);
      span {
        color: var(--gray-400);
      }
      &:focus {
        outline-color: var(--secondary);
      }
      &:hover {
        color: var(--secondary);
        span {
          color: var(--secondary);
        }
      }
    }
  }
  .settingMenu {
    li {
      color: var(--gray-300);
      border-bottom: 1px solid var(--gray-800);
    }
  }

  .interestItem {
    color: var(--gray-100);
    border: 1px solid var(--gray-800);
    background-color: var(--gray-900);
  }

  /* 나의 프로필 */
  .viewTitle {
    color: var(--gray-100);
    border-bottom: 1px solid var(--gray-800);
  }
  .myInfo {
    li {
      color: var(--gray-300);
      border-bottom: 1px solid var(--gray-800);
      .val {
        color: var(--secondary);
      }
    }
  }

  /* 프로필 수정 */
  .profileEdit {
    & > ul {
      border-bottom: 0.06rem solid var(--gray-800);
    }
  }

  .resetBtn {
    color: var(--gray-400);
  }
}
