.commentItem {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--gray-100);
}

.commentHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-900);

  .commentTime {
    color: var(--gray-600);
  }
}

.commentText {
  color: var(--gray-900);
}

[data-theme='dark'] {
  .commentItem {
    border-bottom: 1px solid var(--gray-800);
  }

  .commentHeader {
    color: var(--gray-100);

    .commentTime {
      color: var(--gray-400);
    }
  }

  .commentText {
    color: var(--gray-200);
  }
}
