:root {
  /* Color styles */
  --black: #181818;
  --white: #ffffff;
  --primary: #148ce1;
  --secondary: #5aaef1;
  --negative: #ff4500;
  --gray-100: #e5e5e5;
  --gray-200: #cccccc;
  --gray-300: #b2b2b2;
  --gray-400: #999999;
  --gray-500: #7f7f7f;
  --gray-600: #666666;
  --gray-700: #4c4c4c;
  --gray-800: #333333;
  --gray-900: #212121;

  --base-font: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --icon-color-white: var(--white);
  --icon-color-black: var(--gray-900);
  --icon-color-primary: var(--primary);

  /* line-height */
  --lh-hdg: 140%;
  --lh-lbl: 150%;
  --lh-para: 160%;

  /* letter-spacing */
  --ls: 0;

  /* font-size */
  --fs-util: 0.625rem; /* 10px */
  --fs-sm: 0.6875rem; /* 11px */
  --fs-md: 0.875rem; /* 14px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-xxl: 2rem; /* 32px */
  --fs-xxxl: 2.75rem; /* 44px */

  /* font-weight */
  --fw-regular: 400; /* Regular */
  --fw-semibold: 600; /* SemiBold */
  --fw-bold: 700; /* Bold */
}

.hdg-sm {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}
.hdg-md {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}
.hdg-lg {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}
.hdg-xl {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}
.hdg-xxl {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}
.hdg-xxl {
  letter-spacing: var(--ls);
  line-height: var(--lh-hdg);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  font-family: var(--base-font);
}

/* label */
.lbl-sm {
  letter-spacing: var(--ls);
  line-height: var(--lh-lbl);
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  font-family: var(--base-font);
}
.lbl-md {
  letter-spacing: var(--ls);
  line-height: var(--lh-lbl);
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  font-family: var(--base-font);
}
.lbl-lg {
  letter-spacing: var(--ls);
  line-height: var(--lh-lbl);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  font-family: var(--base-font);
}
.lbl-xl {
  letter-spacing: var(--ls);
  line-height: var(--lh-lbl);
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
  font-family: var(--base-font);
}
.lbl-xxl {
  letter-spacing: var(--ls);
  line-height: var(--lh-lbl);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-semibold);
  font-family: var(--base-font);
}

/* paragraph */
.para-util {
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-util);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
}
.para-sm {
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
}
.para-md {
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
}
.para-lg {
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-lg);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
}
.para-xl {
  letter-spacing: var(--ls);
  line-height: var(--lh-para);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  font-family: var(--base-font);
}
