.homeDetail {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  footer {
    padding: 1rem;
  }
}

.detailWrap {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.post {
  flex: 1;
  padding: 1rem;
}

.state {
  padding: 1rem;
}
