.homeDetail {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  footer {
    padding: 1rem;
  }
}

.detailWrap {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.post {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
}

.postHeader {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  .postBadge {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25rem;
  }
}

.postContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  ul {
    li {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;
      color: var(--gray-600);

      span {
        color: var(--gray-400);
      }
      span:first-child {
        font-size: 1.25rem;
      }
    }
  }
}

.state {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
}

.partyImageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.partyImage {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

[data-theme='dark'] {
  .postContent {
    ul {
      li {
        span {
          color: var(--gray-400);
        }
      }
    }
    p {
      color: var(--gray-200);
    }
  }
}
