.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.modalContent {
  background-color: var(--white);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.slideIn {
  opacity: 1;
  pointer-events: auto;
}

.slideIn .modalContent {
  transform: translateY(0);
}

.slideOut {
  opacity: 0;
  pointer-events: none;
}

.slideOut .modalContent {
  transform: translateY(100%);
}

.modalHeader {
  background-color: var(--white);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
}

.modalList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.modalHeaderText {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.modalHeaderTitle {
  font-weight: bold;
  color: var(--gray-900);
}

.modalDetail {
  color: var(--gray-600);
}

.closeButton {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  background-color: var(--secondary);
  border-radius: 100rem;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.75rem;
  height: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
