.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.categoryButton,
.filterButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  color: var(--gray-900);
  white-space: nowrap;
  border: 1px solid var(--gray-100);
  border-radius: 2.25rem;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease; /* 애니매이션 */

  span {
    font-size: 1rem;
  }

  &:hover {
    background-color: var(--gray-100);
  }
}

.categoryButton.active,
.filterButton.active {
  color: var(--white);
  background-color: var(--gray-900);
}
