.modalOverlay {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--white);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.slideIn {
  opacity: 1;
  pointer-events: auto;
}

.slideIn .modalContent {
  transform: translateY(0);
}

.slideOut {
  opacity: 0;
  pointer-events: none;
}

.slideOut .modalContent {
  transform: translateY(100%);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}

.modalHeaderText {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.modalHeaderTitle {
  font-weight: bold;
  color: var(--gray-900);
}

.modalDetail {
  color: var(--gray-600);
}

.closeButton {
  display: flex;
  color: var(--gray-600);
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
  &:focus {
    outline-offset: 2px;
    outline: 2px solid var(--secondary);
  }
}

.closeIcon {
  font-size: 1.5rem;
}
