.calendarWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  z-index: 1;
}

.calendarWrapperOpen {
  height: 100%;
}
.calendar {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--white);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.calendarOpen {
  transform: translateY(0);
}

.closeBtn {
  position: absolute;
  top: -2rem;
  right: 0.5rem;
  button {
    background-color: rgba(0, 0, 0, 0.5);
    span {
      color: var(--white);
    }
  }
}

.header {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-900);
}

.header button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
}

.weekday {
  text-align: center;
  color: var(--gray-900);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  color: var(--gray-900);
}

.day,
.emptyDay {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: var(--gray-900);
  border: none;
  background-color: var(--white);
  &:focus {
    outline-color: var(--secondary);
  }
}

.day:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.selected {
  background-color: var(--primary);
  color: var(--white);
}

.day:hover:not(.pastDate) {
  background-color: var(--secondary);
  color: var(--white);
}

.selected {
  background-color: var(--primary);
  color: var(--white);
}

.emptyDay {
  background: none;
}

.pastDate {
  color: var(--gray-300);
  cursor: not-allowed;
}

.pastDate:hover {
  color: var(--gray-300);
  background-color: transparent;
}

[data-theme='dark'] {
  .calendarWrapper {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .calendar {
    background-color: var(--gray-900);
  }

  .closeBtn {
    button {
      background-color: rgba(0, 0, 0, 0.5);
      span {
        color: var(--white);
      }
    }
  }

  .header {
    color: var(--gray-100);
  }

  .weekday {
    color: var(--gray-200);
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    color: var(--gray-100);
  }

  .day,
  .emptyDay {
    color: var(--gray-100);
    background-color: var(--gray-800);
    &:focus {
      outline-color: var(--secondary);
    }
  }

  .day:hover {
    background-color: var(--secondary);
    color: var(--white);
  }

  .pastDate {
    color: var(--gray-600);
  }

  .pastDate:hover {
    color: var(--gray-600);
    background-color: var(--gray-800);
  }
}
