@import url('@/styles/iconfonts.css');

.nav {
  display: flex;
  flex-flow: nowrap;
  padding: 0.5rem 1rem 1rem 1rem;
  border: 0.06rem solid var(--gray-100);
}

.btnCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5rem;
  height: 2.75rem;
  border: 0;
  background-color: transparent;
  margin: auto;
}

.btnCon:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.activeBtn {
  color: var(--primary);
}
