/* InterestCard.module.css */
.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--gray-600);
  border-radius: 0.5rem;
  background-color: var(--gray-100);
  cursor: pointer;

  .icon {
    padding: 0.125rem;
    font-size: 1rem;
    color: var(--white);
    border-radius: 1.125rem;
    background-color: var(--gray-200);
  }
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.componentActive {
  color: var(--white);
  background-color: var(--primary);

  .icon {
    color: var(--primary);
    border-radius: 1.125rem;
    background-color: var(--white);
  }
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

[data-theme='dark'] {
  .component {
    color: var(--gray-100);
    background-color: var(--gray-900);

    .icon {
      color: var(--gray-400);
      background-color: var(--gray-800);
    }
  }

  .componentActive {
    color: var(--white);
    background-color: var(--primary);

    .icon {
      color: var(--primary);
      background-color: var(--white);
    }
  }
}
