.component {
  display: flex;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.agree {
  border: none;
  outline: none;
  color: var(--primary);
  background-color: var(--white);
  cursor: pointer;
}
.disagree {
  border: none;
  outline: none;
  color: var(--negative, #ff4500);
  background-color: var(--white);
  cursor: pointer;
}
