.listSearchItem {
  text-decoration: none;
  color: inherit;
}

.listSearchItemContent {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  /* padding: 1rem; */
  border-bottom: 0.0625rem solid var(--gray-100);
}

.listSearchTitle {
  padding-top: 0.25rem;
}

.listSearchDate {
  color: var(--gray-600);
}
