.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--gray-900);

  span {
    color: var(--gray-600);
  }
}

[data-theme='dark'] {
  .component {
    color: var(--gray-100);

    span {
      color: var(--gray-300);
    }
  }
}
