.container {
  display: flex;
  flex-flow: column;
}

.label {
  margin-bottom: 0.25rem;
  margin-block-end: 0.25rem;
}

.error {
  color: var(--negative);
}

.inputError {
  color: var(--negative);
  &:focus {
    outline-color: var(--negative);
  }
}
