.component {
  color: var(--gray-900);
  width: 20rem;
  padding: 1rem 1rem 0rem 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.wrapper > span {
  color: var(--primary);
}
